.single-page {
    height: 100vh;
    overflow: hidden;
}

.text-white {
    color: '#fff';
}

.text-30 {
    color: #fff;
    font-size: 30px;
}

.text-48 {
    font-size: '48px';
}

.w-95 {
    width: 95% !important;
}

.h-95 {
    height: 95% !important;
}

.section-employee-info > .avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.section-employee-info > .avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-employee-info > .info > .username {
    font-size: 16px;
    font-weight: 600;
}

.section-employee-info > .info > .user-role {
    font-size: 12px;
    font-weight: 400;
}

/* Gap */
.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

/* Icon size */
.size-4 {
    width: 40px;
    height: 40px;
}

.scroll-y {
    overflow: hidden;
    overflow-y: auto;
}

.hover {
    padding: 8px;
    transition: linear .2s;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.profile-wrapper {
    padding: 24px;
    border-radius: 10px;
}

.contracts {
    padding: 24px;
    border-radius: 10px;
}
