/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */

body {
  font-family: "Open Sans", sans-serif;
  background: url(../images/bann.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Header */
.main-agileinfo {
	padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
	height: 400px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.text-white {
	color: white;
}

.font-300 {
	font-weight: 300;
}